@import url("https://fonts.googleapis.com/css?family=Alatsi|Patua+One&display=swap");

$primary: #15491e;
$secondary: #00a5bf;
$light: #b6b1ac;
$text-color: rgb(28, 21, 121);

$vertical-space: 0.5rem;
